<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Styles/about.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>AboutUs</title>
</head>
<body>
	<section id = "about-us">
		<div class = "container">
			<div class="row">
				<div class="col-sm-7" style="font-family: comic sans ms;font-size: 30px;">
					<h1 class="text-center">AboutUs</h1>
					<p><b>Learn With Me</b> is webapplication where anyone can learn easily. Though this is just created to learn more about HTML and CSS. This site will get update ones the main purpose to creating this will done. </p>
				</div>

				<div class="col-sm-5">
					<div class="img-wrap">
						<img src="../Images/aboutus-img.jpg" alt="Something went wrong !">
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>