<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Styles/style.css">
	<title>Homepage</title>
</head>
<body>
	<header>
		<div class = "main">
			<div class="logo">
				<img onClick ="location.href='index.html'" src="../Images/Home-logo.png" alt="Somthing Went Wrong!">
			</div>
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a onclick="alertmessage()" href="#">Gallery</a></li>
				<li><a onclick="alertmessage()" href="#">Contact</a></li>
				<li><a onclick="alertmessage()" href="#">About Us</a></li>
			</ul>
		</div>
		<div class = "title">
			<h1>Learn With Me</h1>
		</div>

		<div class="button">
			<a href="./login.html" class="btn">LogIn</a>
			<a href="./signin.html" class="btn">SignIn</a>
		</div>
	</header>
	<script>
	function alertmessage() {
	  document.getElementsByClassName("btn");
	  alert("Sorry we are unable to reach this page :(")
	}
	</script>
</body>
</html>