<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Styles/login.css">
	<title>Login</title>
</head>
<body>
	<div class="logo">
		<img onClick="location.href='index.html'" src="../Images/White-home.jpg" alt="Somthing Went Wrong!">
	</div>
	<div class ="login-box">
		<h1>Login</h1>
		<div class="textbox">
			<i class="fa fa-user" aria-hidden="true"></i>
			<input type="txt" name="" placeholder="Username">
		</div>

		<div class="textbox">
			<i class="fa fa-lock" aria-hidden="true"></i>
			<input type="password" name="" placeholder="Password">
		</div>

		<input onclick="alertmessage()" class="btn" type="button" value="Sign in">
	</div>
	<script>
	function alertmessage() {
	  document.getElementsByClassName("btn");
	  alert("Sorry this page is not avaliable right now.")
	}
	</script>
</body>
</html>