<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Styles/signup.css">
	<title>SignIn</title>
</head>
<body>
	<div class="logo">
		<img onClick="location.href='index.html'" src="../Images/Home.png" alt="Somthing Went Wrong!">
	</div>
	<div id = "signin-box">
		<div class="left-box">
			<h1>Sign Up</h1>
			<input type="text" name="username" placeholder="Username">
			<input type="email" name="email" placeholder="Email">
			<input type="password" name="password1" placeholder="Password">
			<input type="password" name="password2" placeholder="Retype Password">
			<input type="submit" name = "signup-button" value="Sign Up">
		</div>

		<div class="right-box">
			<span class="signinwith">Sign in with <br/> Social Network</span>
			<button onClick="location.href='https://www.facebook.com'" class="social facebook">Log in with Facebook</button>
			<button onClick="location.href='https://twitter.com'" class="social twitter">Log in with twitter</button>
			<button onClick="location.href='https://aboutme.google.com'" class="social google">Log in with Google+</button>
		</div>
		<div class = "or">OR</div>
	</div>
</body>
</html>