body{
	margin: 0;
	padding: 0;
	background-color: #efefef;
	font-family: comic sans ms;
	color: #777
	font-size: 16px;
	font-weight: 300;
}

#signin-box{
	position: relative;
	margin: 5% auto;
	height: 400px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}